<footer class = "bodyfooter">
  <div class = "twitterpic">
  <%= image_tag "twitter.png", width: 200, height: 250%>
  </div>

  <div class = "fbpic">
  <%= image_tag "fb.png", width: 200, height: 250%>
  </div>
  <div class = "cright">
  <small><center>
      &copy; Christian Michael Dollosa || Nicole Tan
  </center></small>
</div>

</footer>
